.venv/

MEMO.md

build/doctrees/*
# docs/build/html/*
build/latex/*
!build/latex/pastexam.pdf

docs/_images/*
docs/_sources/*
docs/_static/*
docs/.doctrees/*
docs/.*
!docs/.nojekyll
docs/objects.inv

