.venv/

MEMO.md

docs/build/doctrees/*
# docs/build/html/*
docs/build/latex/*
!docs/build/latex/pastexam.pdf

docs/docs/_images/*
docs/docs/_sources/*
docs/docs/_static/*
docs/docs/.doctrees/*
docs/docs/.*
docs/docs/objects.inv

