alabaster==1.0.0
asttokens==3.0.0
babel==2.17.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
decorator==5.2.1
docutils==0.21.2
executing==2.2.0
idna==3.10
imagesize==1.4.1
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
kaleido==0.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
myst-parser==4.0.1
narwhals==1.38.0
numpy==2.2.5
packaging==25.0
pandas==2.2.3
parso==0.8.4
plotly==6.0.1
prompt_toolkit==3.0.51
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
